/* your styles go here */
@font-face{
    font-family: 'helvetica-light';
    src : url('../fonts/helvetica-light.otf');
}

.cent {
    text-align: center;
    margin: 0 auto;
}

.form-card {
    padding: 20px;
}

.cart-item {
    margin: -18px;
}

.top-pad {
    height: 40px;
}

.list-icon {
    width: 70px;
    height: 60px;
    margin-left: -22px;
    margin-top: -22px;
    margin-bottom: -22px;
    margin-right: 10px;

}

.list-head {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: -10px;
}