/* your styles go here */
@font-face{
    font-family: 'helvetica-light';
    src : url('../fonts/helvetica-light.otf');
}

.cent {
    text-align: center;
    margin: 0 auto;
}

.form-card {
    padding: 20px;
}

.cart-item {
    margin: -18px;
}

.top-pad {
    height: 40px;
}

.list-icon {
    width: 47px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}